<h4>Record created on: <%= @tripdate.created_at.strftime("%b %d, %Y || %I:%M:%S:%p") %> 
 </h4>

<%= render partial: 'shared/status_views' %>



<%= link_to 'Back', trips_path, class: 'btn btn-mini btn-success' %>
