<footer class="footer">
  <small>
    Copyright Fr8Quote Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>More Here</li>
    </ul>
  </nav>
</footer>